nodered/hackyracers.json
[{"id":"fca35c0a.08e61","type":"http in","z":"7cd666f8.a23a1","name":"","url":"/api/v01/lap","method":"get","swaggerDoc":"","x":149,"y":163,"wires":[["fe5db6bc.3f3fe8","b95184c2.df7368"]]},{"id":"bdd8cf8d.cee578","type":"http response","z":"7cd666f8.a23a1","name":"response","x":969,"y":132,"wires":[]},{"id":"b95184c2.df7368","type":"function","z":"7cd666f8.a23a1","name":"get car number add timestamp","func":"var carnr = msg.payload.car;\ntmp1 = new Date().toISOString();\ntmp1 = tmp1.substring(11,19);\nmsg.payload = { \"Car\":carnr,\"Time\":tmp1};\n\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":162,"wires":[["bdd8cf8d.cee578"]]},{"id":"fe5db6bc.3f3fe8","type":"debug","z":"7cd666f8.a23a1","name":"","active":true,"console":"false","complete":"true","x":448,"y":229,"wires":[]},{"id":"f07cbef8.713e28","type":"comment","z":"7cd666f8.a23a1","name":"API ","info":"* ## ** lap ** _ v01 _\nreceives the car number and returns with timestamp\n\n    _ ex _ https://hackyracers.mybluemix.net/api/v01/lap?car=5\n\n* ## ** addlap ** _ v01 _\nreceives the car number and returns with timestamp and a lap counter\nuse ttps://hackyracers.mybluemix.net/api/v01/reset to set to 0\n\n    _ ex _ https://hackyracers.mybluemix.net/api/v01/addlap?car=5\n* ## ** reset ** _ v01\nmakes the lap counter set to 0\n\n    _ ex _ https://hackyracers.mybluemix.net/api/v01/reset","x":79,"y":47,"wires":[]},{"id":"39b32fa2.bdecf8","type":"function","z":"7cd666f8.a23a1","name":"reset","func":" var count = 0; \n \n // var count= 20 + Math.round(Math.random()*10);\n\nflow.set(\"car_lap\", count);\n//msg.payload =  count.payload ;\nmsg.payload = { \"voltas\":count};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":449,"y":321,"wires":[["bdd8cf8d.cee578"]]},{"id":"c7d892c3.b73bb8","type":"http in","z":"7cd666f8.a23a1","name":"","url":"/api/v01/reset","method":"get","swaggerDoc":"","x":145,"y":321,"wires":[["39b32fa2.bdecf8"]]},{"id":"2b3384c9.ff7eec","type":"function","z":"7cd666f8.a23a1","name":"add lap car number add timestamp","func":"var carnr = msg.payload.car;\ntmp1 = new Date().toISOString();\ntmp1 = tmp1.substring(11,19);\n\nvar count = flow.get('car_lap');\ncount = count +1;\nflow.set(\"car_lap\", count);\n\nmsg.payload = { \"Car\":carnr,\"Time\":tmp1,\"Lap\":count};\n\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":100,"wires":[["bdd8cf8d.cee578"]]},{"id":"143df7d4.d06a","type":"http in","z":"7cd666f8.a23a1","name":"","url":"/api/v01/addlap","method":"get","swaggerDoc":"","x":159,"y":101,"wires":[["fe5db6bc.3f3fe8","2b3384c9.ff7eec"]]}]
