nodered/hackyracers.json
[{"id":"fca35c0a.08e61","type":"http in","z":"7cd666f8.a23a1","name":"","url":"/api/v01/lap","method":"get","swaggerDoc":"","x":343,"y":192,"wires":[["b95184c2.df7368","db1e4767.63089"]]},{"id":"bdd8cf8d.cee578","type":"http response","z":"7cd666f8.a23a1","name":"","x":768,"y":150,"wires":[]},{"id":"b95184c2.df7368","type":"function","z":"7cd666f8.a23a1","name":"","func":"var carnr = msg.payload.car;\ntmp1=new Date().toISOString();\ntmp1 = tmp1.substring(11,19);\nmsg.payload = { \"Car:\":carnr,\"Time:\":tmp1};\n\nreturn msg;","outputs":1,"noerr":0,"x":543,"y":193,"wires":[["bdd8cf8d.cee578","db1e4767.63089"]]},{"id":"db1e4767.63089","type":"debug","z":"7cd666f8.a23a1","name":"","active":true,"console":"false","complete":"false","x":747,"y":289,"wires":[]}]
