nodered/hackyracers.json
[{"id":"fca35c0a.08e61","type":"http in","z":"7cd666f8.a23a1","name":"","url":"/api/v01/lap","method":"get","swaggerDoc":"","x":214.5,"y":166.44444274902344,"wires":[["b95184c2.df7368"]]},{"id":"bdd8cf8d.cee578","type":"http response","z":"7cd666f8.a23a1","name":"response","x":1034.5,"y":135.44444274902344,"wires":[]},{"id":"b95184c2.df7368","type":"function","z":"7cd666f8.a23a1","name":"get car number add timestamp","func":"var carnr = msg.payload.car;\ntmp1 = new Date().toISOString();\ntmp1 = tmp1.substring(11,19);\nmsg.payload = { \"Car\":carnr,\"Time\":tmp1};\n\nreturn msg;","outputs":1,"noerr":0,"x":593.5,"y":165.44444274902344,"wires":[["bdd8cf8d.cee578","3e319730.a409d8"]]},{"id":"fe5db6bc.3f3fe8","type":"debug","z":"7cd666f8.a23a1","name":"","active":false,"console":"false","complete":"payload","x":993.5,"y":197.44444274902344,"wires":[]},{"id":"f07cbef8.713e28","type":"comment","z":"7cd666f8.a23a1","name":"API ","info":"* ## ** lap ** _ v01 _\nreceives the car number and returns with timestamp\n\n    _ ex _ https://hackyracers.mybluemix.net/api/v01/lap?car=5\n\n* ## ** addlap ** _ v01 _\nreceives the car number and returns with timestamp and a lap counter\nuse ttps://hackyracers.mybluemix.net/api/v01/reset to set to 0\n\n    _ ex _ https://hackyracers.mybluemix.net/api/v01/addlap?car=5\n* ## ** reset ** _ v01 _\nmakes the lap counter set to 0\n\n    _ ex _ https://hackyracers.mybluemix.net/api/v01/reset","x":144.5,"y":50.44444274902344,"wires":[]},{"id":"39b32fa2.bdecf8","type":"function","z":"7cd666f8.a23a1","name":"reset","func":" var count = 0; \n \n // var count= 20 + Math.round(Math.random()*10);\nvar cars=[0,0,0,0,0];\nflow.set(\"car_lap\", count);\nflow.set(\"carros\",cars);\n//msg.payload =  count.payload ;\nmsg.payload = 0;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":463.5,"y":336.44444274902344,"wires":[["bdd8cf8d.cee578","d58db6ab.2e71d","42e05856.925bd","b68c4628.f278c8","d7aaa38d.bf772","a91a5c96.9762f"]]},{"id":"c7d892c3.b73bb8","type":"http in","z":"7cd666f8.a23a1","name":"","url":"/api/v01/reset","method":"get","swaggerDoc":"","x":210.5,"y":324.44444274902344,"wires":[["39b32fa2.bdecf8"]]},{"id":"2b3384c9.ff7eec","type":"function","z":"7cd666f8.a23a1","name":"add lap car number add timestamp","func":"var carnr = msg.payload.car;\ntmp1 = new Date().toISOString();\ntmp1 = tmp1.substring(11,19);\n\nvar count = flow.get('carros');\n\ncount[carnr] = count[carnr] +1;\nflow.set(\"carros\", count);\n\nmsg.payload = { \"Car\":carnr,\"Time\":tmp1,\"Lap\":count[carnr]};\n\nreturn msg;","outputs":1,"noerr":0,"x":549.3571166992188,"y":74.30156707763672,"wires":[["bdd8cf8d.cee578","fe5db6bc.3f3fe8","82ddd31a.317da8","644ec83b.365f78"]]},{"id":"143df7d4.d06a","type":"http in","z":"7cd666f8.a23a1","name":"","url":"/api/v01/addlap","method":"get","swaggerDoc":"","x":224.5,"y":104.44444274902344,"wires":[["2b3384c9.ff7eec"]]},{"id":"d7aaa38d.bf772","type":"ui_gauge","z":"7cd666f8.a23a1","name":"Car 01","group":"e89703f9.092c1","order":2,"width":"6","height":"6","gtype":"donut","title":"{{msg.payload.Lap}}","label":" Laps","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b5a1","#006fe6","#3311f6"],"seg1":"15","seg2":"35","x":1555.5,"y":28.444442749023438,"wires":[]},{"id":"d58db6ab.2e71d","type":"ui_text","z":"7cd666f8.a23a1","group":"e89703f9.092c1","order":1,"width":"6","height":"1","name":"","label":"Car 01 Lap =","format":"{{msg.payload}}","layout":"row-center","x":1545.5,"y":136.44444274902344,"wires":[]},{"id":"1847f48a.3fc3ab","type":"function","z":"7cd666f8.a23a1","name":"","func":"//msg.payload = { \"Car\":carnr,\"Time\":tmp1,\"Lap\":count};\nvar count = flow.get('carros');\n\nmsg.payload = count[1];\nreturn msg;","outputs":1,"noerr":0,"x":1115.16650390625,"y":20,"wires":[["d7aaa38d.bf772","d58db6ab.2e71d"]]},{"id":"11b6fd56.e5f51b","type":"ui_button","z":"7cd666f8.a23a1","name":"","group":"e89703f9.092c1","order":4,"width":"3","height":"1","label":"Reset","color":"","bgcolor":"","icon":"fa-flag","payload":"","payloadType":"str","topic":"","x":311.5,"y":448.44444274902344,"wires":[["194f20f5.d823f7"]]},{"id":"194f20f5.d823f7","type":"http request","z":"7cd666f8.a23a1","name":"","method":"GET","ret":"obj","url":"https://hackyracers.mybluemix.net/api/v01/reset","tls":"","x":560.5,"y":457.44444274902344,"wires":[["caf6cf43.7b306"]]},{"id":"caf6cf43.7b306","type":"debug","z":"7cd666f8.a23a1","name":"","active":false,"console":"false","complete":"false","x":1005.5,"y":478.44444274902344,"wires":[]},{"id":"691cb282.c55f64","type":"ui_button","z":"7cd666f8.a23a1","name":"","group":"e89703f9.092c1","order":3,"width":"3","height":"1","label":"addLap","color":"","bgcolor":"","icon":"fa-car","payload":"","payloadType":"str","topic":"","x":311.5,"y":535.4444427490234,"wires":[["b9e90702.747f4"]]},{"id":"b9e90702.747f4","type":"http request","z":"7cd666f8.a23a1","name":"","method":"GET","ret":"txt","url":"https://hackyracers.mybluemix.net/api/v01/addlap?car=1","tls":"","x":561.5,"y":520.4444427490234,"wires":[["caf6cf43.7b306"]]},{"id":"42e05856.925bd","type":"ui_text","z":"7cd666f8.a23a1","group":"23f26d1d.2665a2","order":1,"width":"6","height":"1","name":"","label":"Car 02 Lap =","format":"{{msg.payload}}","layout":"row-center","x":1324.25,"y":278.6944580078125,"wires":[]},{"id":"b68c4628.f278c8","type":"ui_gauge","z":"7cd666f8.a23a1","name":"Car 02","group":"23f26d1d.2665a2","order":2,"width":"6","height":"6","gtype":"donut","title":"{{msg.payload.Lap}}","label":" Laps","format":"{{msg.payload}}","min":0,"max":"50","colors":["#ff6464","#ff5050","#ff0e0e"],"seg1":"15","seg2":"35","x":1310.75,"y":226.4444580078125,"wires":[]},{"id":"8f0f59e5.ef3278","type":"ui_button","z":"7cd666f8.a23a1","name":"","group":"23f26d1d.2665a2","order":4,"width":"3","height":"1","label":"Reset","color":"","bgcolor":"","icon":"fa-flag","payload":"","payloadType":"str","topic":"","x":321.5,"y":628.4444427490234,"wires":[["194f20f5.d823f7"]]},{"id":"a5ce5edf.adbcc","type":"ui_button","z":"7cd666f8.a23a1","name":"","group":"23f26d1d.2665a2","order":3,"width":"3","height":"1","label":"addLap","color":"","bgcolor":"","icon":"fa-car","payload":"","payloadType":"str","topic":"","x":385.5,"y":738.4444427490234,"wires":[["f7f7ff49.f0fc8"]]},{"id":"131891f2.a3a336","type":"function","z":"7cd666f8.a23a1","name":"Getarray","func":"var count = flow.get('carros');\nmsg.payload = count[1];\nreturn msg;","outputs":1,"noerr":0,"x":420.5,"y":252.44444274902344,"wires":[["12a0c31.1d2ebbd"]]},{"id":"3714e53c.7b206a","type":"inject","z":"7cd666f8.a23a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":225.5,"y":252.44444274902344,"wires":[["131891f2.a3a336"]]},{"id":"12a0c31.1d2ebbd","type":"debug","z":"7cd666f8.a23a1","name":"","active":false,"console":"false","complete":"false","x":627.5,"y":241.44444274902344,"wires":[]},{"id":"f7f7ff49.f0fc8","type":"http request","z":"7cd666f8.a23a1","name":"","method":"GET","ret":"txt","url":"https://hackyracers.mybluemix.net/api/v01/addlap?car=2","tls":"","x":552.5,"y":633.4444427490234,"wires":[["caf6cf43.7b306"]]},{"id":"82ddd31a.317da8","type":"switch","z":"7cd666f8.a23a1","name":"","property":"payload.Car","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":862.1825561523438,"y":46.412696838378906,"wires":[["1847f48a.3fc3ab"],["e815a43a.f6d48"],[]]},{"id":"e815a43a.f6d48","type":"function","z":"7cd666f8.a23a1","name":"","func":"//msg.payload = { \"Car\":carnr,\"Time\":tmp1,\"Lap\":count};\nvar count = flow.get('carros');\nmsg.payload = count[2];\nreturn msg;","outputs":1,"noerr":0,"x":1151.5,"y":89.44444274902344,"wires":[["b68c4628.f278c8","42e05856.925bd"]]},{"id":"644ec83b.365f78","type":"function","z":"7cd666f8.a23a1","name":"","func":"var count = flow.get('carros');\nvar msg = {};\nvar msg1 = {};\nmsg.payload=count[1];\nmsg.topic=\"Car01\";\nmsg1.payload=count[2];\nmsg1.topic=\"Car02\";\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":991.3890380859375,"y":388.2221221923828,"wires":[["e3f14187.d0b3d"],["e3f14187.d0b3d"]]},{"id":"e3f14187.d0b3d","type":"ui_chart","z":"7cd666f8.a23a1","name":"","group":"ef05b11d.bbaaf","order":0,"width":"12","height":"8","label":"Race Evolution","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"Waiting to start","ymin":"0","ymax":"55","removeOlder":"10","removeOlderPoints":"80","removeOlderUnit":"60","cutout":0,"colors":["#3311f6","#ff0e0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1178.0555419921875,"y":334.88890075683594,"wires":[[],[]]},{"id":"a91a5c96.9762f","type":"function","z":"7cd666f8.a23a1","name":"","func":"//var count = flow.get('carros');\nvar msg = {};\nvar msg1 = {};\n//msg.payload=count[1];\n//msg.topic=\"Line1\";\n//msg1.payload=count[2];\n//msg1.topic=\"Line2\";\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":706.9444580078125,"y":362.66664123535156,"wires":[["e3f14187.d0b3d"],["e3f14187.d0b3d"]]},{"id":"7b623216.b19e24","type":"inject","z":"7cd666f8.a23a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":483.6111111111111,"y":388.2222205268012,"wires":[["644ec83b.365f78"]]},{"id":"bed6e991.9fa6","type":"inject","z":"7cd666f8.a23a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":175.83333333333337,"y":404.8888871934679,"wires":[["194f20f5.d823f7"]]},{"id":"3e319730.a409d8","type":"ui_template","z":"7cd666f8.a23a1","group":"ef05b11d.bbaaf","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>The number is</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":146,"y":496,"wires":[[]]},{"id":"e89703f9.092c1","type":"ui_group","z":"","name":"Car 02","tab":"594bd262.8171bc","order":1,"disp":false,"width":"6"},{"id":"23f26d1d.2665a2","type":"ui_group","z":"","name":"Car 01","tab":"594bd262.8171bc","order":2,"disp":false,"width":"6"},{"id":"ef05b11d.bbaaf","type":"ui_group","z":"","name":"Race Evolution","tab":"594bd262.8171bc","disp":false,"width":"12"},{"id":"594bd262.8171bc","type":"ui_tab","z":"","name":"HackyRacers","icon":"fa-info","order":1}]
